
if [ -f "$___X_CMD_ROOT_DATA/version/status/outdated" ]; then
    ___x_cmd version checker showhint
    return
fi

if [ -f "$___X_CMD_ROOT_DATA/version/status/checker_timestamp" ]; then
    read -r timestamp <"$___X_CMD_ROOT_DATA/version/update/checker_timestamp"
else
    timestamp=0
fi


if [ -z "$EPOCHSECONDS" ]; then
    ts="$(___x_cmd date timestamp)"
else
    ts="$EPOCHSECONDS"
fi

[ $(( ts - timestamp )) -lt 86400 ] || {
    ___x_cmd version checker update
}
